<% @pending_models.each do |name,  items|%>
<h1><%= name.pluralize %></h1>
<table class="table approval-table">
  <tr>
    <% if items.first && items.first.reify %>
    <% items.first.reify.attributes.each do |attr_name, attr_value| %>
    <th> <%= attr_name %> </th>
    <% end %>
    <% end %>
    <th> Event </th>
    <th> Actions </th>
  </tr>
  <% items.each do |pending_item| %>

  <tr>
    <% item = pending_item.reify ? pending_item.reify : pending_item %>

    <% item.attributes.each do |attr_name, attr_value| %>
    <td> <%= attr_value %> </td>
    <% end %>
    <td><%= pending_item.event %></td>
    <td><%= link_to "Approve", approvals_approve_path(id: pending_item.id) %> <%= link_to "Reject", approvals_reject_path(id: pending_item.id) %> </td>
  </tr>
  <tr>
    <%  item = name.constantize.find_by_id(pending_item.item_id)
    if item
    item.attributes.each do |attr_name, attr_value| %>
    <td> <%= attr_value %> </td>
    <% end %>
    <% end %>
    <td></td>
    <td></td>
  </tr>

  <% end %>
</table>
<% end %>
