<% provide(:title, "#{@product.name} Release Dates" )%>
<% provide(:description, "Find release dates for #{@product.name} (#{@product.category.name}). Submit your own release dates for people to view." )%>
<% provide(:body_class, @product.category.name.downcase)%>

<h1 class="page-name page-header">
  <span style="display:table-cell;vertical-align: middle;width:100%;">
    <span id="name" class="current-release-editable" data-type="text" data-pk="" data-url="/products/<%= @product.id %>"><%= @product.name %></span>
  </span>
  <span class="small" style="display:table-cell;vertical-align: bottom;padding-left:15px;white-space: nowrap">
    <a href="<%= category_path(@product.category) %>"><i class="<%= @product.category.icon %>"></i> <%= @product.category.name  %></a>
  </span>
</h1>
<div class="button-box">
  <button id="edit-button" class="btn btn-primary">Toggle Edit</button> 
  <button id="add-release-button" class="btn btn-primary">Add Release</button>
</div>

<h2><span class="small">Releases</span></h2>
<div class="row">
  <div id="release-list" class="col-md-6">
    <div class="new-release-entry">
    
    </div>
    <% @releases.each do |release| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3 dark-color">
            Region:  
          </div>
          <div class="col-sm-9">
            <span class="current-release-editable" 
                  id="region_id" 
                  data-value="<%= release.region.id %>" 
                  data-type="select" 
                  data-pk="" 
                  data-source="/regions.json" 
                  data-showbuttons="false" 
                  data-url="/releases/<%= release.id %>">
                  <%= release.region.name %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 dark-color">
            Launch Date:  
          </div>
          <div class="col-sm-9">
            <span class="current-release-editable" 
                  id="launch_date_id" 
                  data-type="text" 
                  data-placeholder="e.g. December 25, 2015"
                  data-pk="" 
                  data-url="/releases/<%= release.id %>">
                  <%= release.launch_date.launch_date %>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 dark-color">
            Format: 
          </div>
          <div class="col-sm-9">
            <span class="current-release-editable" 
                  id="medium_id" 
                  data-value="<%= release.medium.id %>" 
                  data-type="select" 
                  data-pk="" 
                  data-source="/media.json?category_id=<%= @product.category.id %>" 
                  data-showbuttons="false" 
                  data-url="/releases/<%= release.id %>">
                  <%= release.medium.name %>
            </span>
          </div>
        </div>
        <div class="row hidden-field">
          <div class="col-sm-3 dark-color">
            Source:
          </div>
          <div class="col-sm-9">
            <span class="current-release-editable source" 
                  id="source" 
                  data-type="text" 
                  data-pk="" 
                  data-placeholder="e.g. wikipedia.org/wiki/Halo_4"
                  data-url="/releases/<%= release.id %>">
                  <%= release.source %>
            </span>
          </div>
        </div>
        <% if release.launch_date.date > Time.now %>
          <div class="row">
            <div class="col-sm-3 dark-color">
              Countdown: 
            </div>
            <div class="col-sm-9">
              <span class="date" data-launch-date="<%= release.launch_date.launch_date %>">
                
              </span>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-sm-3 dark-color">
            <%= release.launch_date.date < Time.now ? "Buy:" : "Preorder:" %> 
          </div>
          <div class="col-sm-9">
            <%= link_to "Amazon", affiliate_link(@product.name, release.medium.name, @product.category.name) %>
          </div>
        </div>
            
      </div>
    </div>
    <% end %>
  </div>
</div>



<%= content_tag :div, class: "temp_information", data: {category_id: @product.category.id, product_id: @product.id} do %>
<% end %>
