<% provide(:body_class, @product.category.name.downcase)%>
<% provide(:page_name, "<span id='name' class='editable' data-type='text' data-pk='' data-url='/products/#{@product.id}'>#{@product.name}</span>".html_safe) %>

<button id="edit-button" class="btn pull-right">Toggle Edit</button>

<span><%= link_to(@product.category.name, category_path(@product.category)) %> </span>

<h2>Releases</h2>
<div id="release-list">
  <% @releases.each do |release| %>
  <div>
    <span class="editable" 
          id="region_id" 
          data-value="<%= release.region.id %>" 
          data-type="select" 
          data-pk="" 
          data-source="/regions.json" 
          data-showbuttons="false" 
          data-url="/releases/<%= release.id %>">
          <%= release.region.name %>
    </span> /
    <span class="editable" 
          id="launch_date_id" 
          data-type="text" 
          data-pk="" 
          data-url="/releases/<%= release.id %>">
          <%= release.launch_date.launch_date %>
    </span> /
    <span class="editable" 
          id="medium_id" 
          data-value="<%= release.medium.id %>" 
          data-type="select" 
          data-pk="" 
          data-source="/media.json?category_id=<%= @product.category.id %>" 
          data-showbuttons="false" 
          data-url="/releases/<%= release.id %>">
          <%= release.medium.name %>
    </span>
    <span class="hidden-field"> /
      <span class="editable source" 
            id="source" 
            data-type="text" 
            data-pk="" 
            data-url="/releases/<%= release.id %>">
            <%= release.source %>
      </span>
    </span>
    <span class="date" data-launch-date="<%= release.launch_date.launch_date %>">
      
    </span>
  </div>
  <% end %>

  <div class="new-release-entry">
  
  </div>
</div>
<button id="add-release-button" class="btn btn-primary" style="display:none">Add Release</button>

<%= content_tag :div, class: "temp_information", data: {category_id: @product.category.id, product_id: @product.id} do %>
<% end %>
