<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="description" content="<%= yield(:description) %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body class="<%= yield(:body_class) %>">
    <div class="color-header">

      <div class="container">
        <div>
          <%= link_to "Release Date", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
          <i class="fa fa-search pull-right" id="search-icon"></i>
        </div>
        <%= render partial: "elements/navbar" %>
        <%= render partial: "elements/search" %>

      </div>
    </div>

    <div id="main-container" class="container">

      <div class="top-ad-box">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Release Date Top -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9067954073014278"
        data-ad-slot="3323988779"
        data-ad-format="auto"></ins>
        <script>
          ( adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <%= bootstrap_flash %>
      <div id="msg"></div>
      <% page_name = !yield(:page_name).blank? ? yield(:page_name) : nil %>
      <% if page_name %>
      <h1 class="page-name page-header"><%= page_name %></h1>
      <% end %>
      <%= yield %>
    </div>
    <footer class="container" id="footer">
      <div class="col-md-6">
        Developed by Kyle Dornblaser and Jordan Smith</span>
      </div>
      <div class="col-md-6 footer-right">
        <%= link_to "GitHub", "https://github.com/Green-Squad/Release-Date" %>
      </div>
    </footer>
  </body>
</html>
