<!DOCTYPE html>
<html>
  <head>
    <title>Release Date</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  </head>
  <body>
    <div class="color-header">
      <%= render partial: "elements/navbar" %>

      <div class="container color-box">
        <div class="row">
          
          <div class="col-md-7 col-md-push-5">
            <%= form_tag("/", method: "post", class: 'form-horizontal', id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "e.g. Grand Theft Auto V", class: "form-control", id: 'search-box' %>
              <span class="input-group-btn"> <%= submit_tag "Search", class: "btn btn-primary" %> </span>
            </div>
            <% end %>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <h2>Page Title</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= bootstrap_flash %>
      <div id="msg"></div>

      <%= yield %>
    </div>
  </body>
</html>
